{% extends "base.twig" %}

{% block content %}
<section class="post-type-error {{ sidebar ? '':'container' }}">
	<h3>{{ _e('Sorry, we couldn\'t find what you\'re looking for.', 'mvnp_basic') }}</h3>
</section>
{% endblock %}
